.vs/AdventOfCode2025/DesignTimeBuild/.dtbcache.v2
.vs/AdventOfCode2025/FileContentIndex/21acf9c4-73c4-4cd8-ab13-34a08c1cfab2.vsidx
.vs/AdventOfCode2025/FileContentIndex/3d7fd0b2-7089-4129-bc78-b650926f3a70.vsidx
.vs/AdventOfCode2025/FileContentIndex/9fc1db0b-a9c7-47fb-8951-976acf317a98.vsidx
.vs/AdventOfCode2025/FileContentIndex/e5f184c3-4006-4ffe-9037-0513392d1c70.vsidx
.vs/AdventOfCode2025/FileContentIndex/fc702d07-8dd1-40db-b66d-59255f15e3a3.vsidx
.vs/AdventOfCode2025/v17/.futdcache.v2
.vs/AdventOfCode2025/v17/.suo
.vs/AdventOfCode2025/v17/DocumentLayout.backup.json
.vs/AdventOfCode2025/v17/DocumentLayout.json
.vs/ProjectEvaluation/adventofcode2025.metadata.v9.bin
.vs/ProjectEvaluation/adventofcode2025.projects.v9.bin
.vs/ProjectEvaluation/adventofcode2025.strings.v9.bin
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net8.0/refint/AdventOfCode2025.dll
obj/Debug/net8.0/ref/AdventOfCode2025.dll
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/AdventOfCode2025.pdb
obj/Debug/net8.0/AdventOfCode2025.GlobalUsings.g.cs
obj/Debug/net8.0/AdventOfCode2025.genruntimeconfig.cache
obj/Debug/net8.0/AdventOfCode2025.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/AdventOfCode2025.dll
obj/Debug/net8.0/AdventOfCode2025.csproj.FileListAbsolute.txt
obj/Debug/net8.0/AdventOfCode2025.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/AdventOfCode2025.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/AdventOfCode2025.assets.cache
obj/Debug/net8.0/AdventOfCode2025.AssemblyInfoInputs.cache
obj/Debug/net8.0/AdventOfCode2025.AssemblyInfo.cs
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/AdventOfCode2025.csproj.nuget.g.targets
obj/AdventOfCode2025.csproj.nuget.g.props
obj/AdventOfCode2025.csproj.nuget.dgspec.json
bin/Debug/net8.0/AdventOfCode2025.deps.json
bin/Debug/net8.0/AdventOfCode2025.dll
bin/Debug/net8.0/AdventOfCode2025.exe
bin/Debug/net8.0/AdventOfCode2025.pdb
bin/Debug/net8.0/AdventOfCode2025.runtimeconfig.json
bin/Debug/net8.0/Days/Day1_example.txt
bin/Debug/net8.0/Days/Day1_Input.txt
